@import "mixincolors";


.sub-header-services {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 0, 0, 0.75)), url(../images/services_photos/banner_services.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    @include color-blanco;

    h1 {
        font-size: 40px;
    }
}

.services{
    text-align: center;
    margin: 50px 0;
}


.container-services{
    width: 1000px;
    height: 400px;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}

.container-services2{
    width: 1000px;
    height: 400px;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}

.col-services{
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.9s;
}

.col-services:nth-child(1){
    background-image: url(../images/blog_photos/image_blog_01.jpg);
}
.col-services:nth-child(2){
    background-image: url(../images/blog_photos/image_blog_03.jpg);
}
.col-services:nth-child(3){
    background-image: url(../images/blog_photos/image_blog_01.jpg);
}
.col-services:nth-child(4){
    background-image: url(../images/blog_photos/image_blog_03.jpg);
}

h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.caption{
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
    display: none;
}

.caption p{
    color: #fff;
}

.caption a{
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}

.col-services img{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.col-services:hover{
    flex-grow: 2.5;
}

.col-services:hover .caption{
    display: block;
}

.col-services:hover h2{
    text-align: left;
}