@import "mixincolors";




.sub-header-services {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(0, 0, 0, 0.75)), url(../images/services_photos/banner_services.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    @include color-blanco;

    h1 {
        font-size: 40px;
    }
}

.services {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}


.container-services {
    width: 100%;
    padding: 10px 10px;
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
    box-sizing: border-box;
}

.container-services .swiper-container {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container-services .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

}

.container-services .swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container-services .swiper-slide .card-description {
    padding: 1rem 1rem;
}

.container-services .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: .5rem;
}

.container-services .swiper-slide .card-link {
    text-align: center;

}

.container-services .swiper-slide .card-link a {
    text-decoration: none;
    color: #1d6ce2;
}

.swiper-button-next {
    right: 26px !important;
}

.swiper-button-prev {
    left: 26px !important;
}

.swiper-container {
    overflow: auto !important;
}